#navigation {
  height: auto;
  width: 100%;
}

#info {
  height: 300px;
  width: 100%;
  border: 1px solid black;
}

#playground {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border: 2px solid black;
}

#graph {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;
}

td {
  height: 25px;
  width: 25px;
  border: 2px solid black;
}

.cell {
  background-color: white;
}

.base {
  background-color: black;
}

.target {
  background-color: black;
}

.searched {
  background-color: blue;
}

.path {
  background-color: yellow;
}
