body {
  padding-top: 70px;
}

#navigation {
  width: 100%;
}

#info {
  height: auto;
  width: 100%;
  padding-bottom: 10px;
}

#grid {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  /*border: 2px solid black;*/
}

#playground {
  padding-left: 20px;
  padding-right: 20px;
  background: url("./Assets/img/mars.jpg") center no-repeat;
  background-size: 100% 100%;
}

td {
  height: 35px;
  width: 35px;
  /*border: 2px solid black;*/
}

.cell {
  background-color: white;
  opacity: 0.0;
}

.base {
  background: url("./Assets/img/rover-vector.png");
  background-size: 100% 100%;
  /*background-color: black;*/
}

.target {
  background: url("./Assets/img/nasa.png");
  background-size: 100% 100%;
  /*background-color: black;*/
}

.searched {
  background-color: blue;
  opacity: 0.25;
}

.path {
  background-color: yellow;
  opacity: 0.25;
}

.pressed {
  background-color: pink;
}

.object {
  background-color: red;
  opacity: 0.25;
}

.rules {
  height: 50%;
}
